version: "3"

services:
  database:
    image: mysql:8.0
    platform: linux/arm64
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - "mysql_data:/var/lib/mysql"
      - "./database:/docker-entrypoint-initdb.d"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot" ]
      interval: 10s
      retries: 5
      timeout: 5s

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - "./frontend:/app"
      - "/app/node_modules"
#    working_dir: /app
#    command: ["npm", "run", "dev"]
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "8800:8800"
    volumes:
      - "./backend:/app"
#    working_dir: /app
#    command: ["npx", "nodemon", "index.js"]
    depends_on:
      database:
        condition: service_healthy

volumes:
  mysql_data: